#calculator{
    width: 300px;
    margin: 0 auto;
    background-color: rgba(103, 104, 105, 0.909);
    padding: 30px;
}
p{
    text-align: center;
    font-size: 25px;
}
#view{
    height: 60px;
    width: 95%;
}
#buttons-area{
    margin: 20px;

}

.button-group{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#buttons-area > .button-group > span{
background-color: rgb(242, 198, 89);
padding: 10px;
height: 20px;
width: 20px;
border-radius: 50%;
text-align: center;
}